.toggle-button {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.toggle-button img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}   
.toggle-button.active img {
    transform: rotate(180deg);
}
.slide-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    background-color: var(--orange-color);
    padding: 10 20px;
    border-radius: 5px;
    position: absolute;
    box-sizing: border-box;
    position: relative;
}

.slide-text.visible {
    max-height: 100px; /* Достаточно большой, чтобы вместить весь текст */
    padding: 5px 20px;
}
.slide-text p{
    font-size: 14px;
}